@font-face {
    font-family:'YoungMorin';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/YoungMorinRegular-JRzjm.ttf') format('opentype');
}
@font-face {
    font-family:'Playfair Display';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/PlayfairDisplayRegular-ywLOY.ttf') format('opentype');
}
@font-face {
    font-family:'Open Sans';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/OpenSans-B9K8.ttf') format('opentype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.todo {
    background-color: #ffd5c5;
}

.banner {
    font-family: 'YoungMorin', sans-serif;
    font-size: 55px;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(249,198,148,1) 0%, rgba(255,188,116,1) 16%, rgba(247,141,99,1) 47%, rgba(168,47,11,1) 100%);
    border: 2px solid #5e1600;
    text-align: center;
}

/**Menu superior**/
.menu {
    background-color: #f0b49c;
    border-bottom: 2px solid  #731a00;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.menu-item {
    font-family: 'Playfair Display';
    font-size: 20px;
    text-align: center;
    width: 250px;
    border-right: 2px solid #5e1600;
    border-left:  2px solid #5e1600;
}

.menu-item :hover{ background-color: #b95435;
    padding: 5px 50px;
    border-radius: 30%;}

.menu-item-texto {
    color:black;
}

/*Pagina de inicio*/
.content{height: auto;
    min-height: 1500px;
}


.content-texto {
    width: 1500px;
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: justify;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;
    border-radius: 6px;

}

.content-tutoriais {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 1200px;
}

.content-tutoriais-tabela {
    width: 1500px;
    border: 2px solid #000;
}

.content-tutoriais-td {
    border: 2px solid #731a00;
    text-align: center;
    background-color: #ffdbcc;
}

